nav {
    background-color: #0f0101; 
    padding: 10px;
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: rgb(0, 0, 0); 
    text-decoration: none
    font-weight: bold;
}

nav a:hover {
    color: #b41010; /* Cor que muda quando passa o mouse */
}
/* Reseta margens padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-receitas {
    padding: 40px 20px; 
    text-align: center; 
    margin-top: 20px; 
}

.container-receitas h1 {
    font-size: 6rem; 
    color: #2e1805; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase; 
    letter-spacing: 2px; 
}
