nav {
    background-color: #4d0909; 
    padding: 10px;
}

nav ul {
    list-style-type: none; 
    margin: 2;
    padding: 7;
    display: flex; 
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: rgb(12, 6, 6); 
    text-decoration: none
    font-weight: bold;
}

nav a:hover {
    color: #b41010; 
}
nav
* {
    margin: 2;
    padding: 7;
    box-sizing: border-box;
}

.container-receitas {
    padding: 40px 20px; 
    text-align: center; 
    margin-top: 50px
}

.container-receitas h1 {
    font-size: 8rem;
    color: #412003; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase; 
    letter-spacing: 2px; 
}
